/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --doc-height: 200%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C03221;
    height: 100vh;
}

.container {
    width: 100%; /* da ne zaboravis na body background interakciju pa staviti na 100vh (100%) ili 95vh ako ne moze */
    height: 100vh;
    gap: 10px;
    padding: 10px;
    display: flex;
    user-select: none;
    background: #F2D0A4;
}

section {
    border-radius: 10px; /* 7px lepo radi isto */
    background: #F7F7FF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.tools-board {
    background: #F7F7FF;
}

.tools-board {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 22px 0;
}

.tools-board .row {
    margin-bottom: 20px;
    /*background: saddlebrown;*/
    width: 100%;
}

.row .title{
    color: #25283D;
    font-size: 1rem;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 0;
}

.row .options .option {
    display: flex;
    user-select: none;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.row .options .option .icon {
    font-size: 1.3rem;
    padding-left: 3px;
}

.row .options .option .name {
    padding-left: 7px; /* mozda 8px?*/
}

.option :where(span, label) {
    color: gray;
    cursor: pointer;
}

.option:is(:hover, .active) :where(span,label) {
    color: black;
}

.option input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin: 0 10px 0 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked~label {
    color: #25283D;
}

.option #size-slider {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    background-color: black; /* ne radi ovako moracu da se zezam sa scss i da mnogo menjam za ovaj style change */
}

.tools-board .colors-toolbar {
    margin-top: 25px;
}

.tools-board .colors {
    /*color: maroon;*/
    display: flex;
    justify-content: space-between;
}

.colors .option {
    position: relative;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    border-radius: 50%;
}

.colors .option:nth-child(1) {
    background-color: chocolate;
    border: 1px solid gainsboro;
}

.colors .option:nth-child(2) {
    background-color: darkblue;
}

.colors .option:nth-child(3) {
    background-color: silver;
}

.colors .option:nth-child(4) {
    background-color: royalblue;
}

.colors .option:nth-child(5) {
    background-color: ghostwhite;
    background-image: linear-gradient(lightblue, darkgoldenrod);
}

.colors .option.active:nth-child(5) {
    background-image: none;
}

.colors .option.selected:before {
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    position: absolute;
    border: 2px solid #fff;
    border-radius: inherit;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected:before {
    border-color: black;
}

.colors #custom-color {
    opacity: 0;
    cursor: pointer;
}

.buttons .title {
    display: none;
}

.buttons button {
    width: 100%;
    color: white;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 13px;
    transition: all 0.3s ease;
}

.buttons button .icon {
    color: white;
    font-size: 1.2rem;
    transition: 0.2s ease;
}

.buttons .clear {
    color: gray;
    border: 1px solid gray;
}

.buttons .clear .icon {
    color: gray;
}

.buttons .clear:hover{
    color: indianred;
    background: darkred;
}

.buttons .clear:hover .icon {
    color: red;
}

.buttons .save {
    color: green;
    border: 1px solid green;
}

.buttons .save:hover {
    background: greenyellow;
}

.buttons .upload {
    color: royalblue;
    border: 1px solid royalblue;
}

.buttons .upload:hover {
    background: cornflowerblue;
}

.drawing-board {
    flex: 1;
    overflow: hidden;
}

.drawing-board canvas {
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
    border-radius: 7px;
}

.big-checkbox {
    transform: scale(1.4);     /* Make it bigger */
    -webkit-transform: scale(1.4);
    padding-left: 10px;
    padding-bottom: 10px;
}

/*deo za responsiveness*/
@media (min-width: 481px) and (max-width: 1023px) and (orientation: landscape) {
    body {
        overflow: hidden;
    }

    .container {
        gap: 5px;
        padding: 5px;
    }

    .tools-board {
        width: 190px;
        max-height: calc(var(--doc-height) - 10px);
        height: 100%;
        overflow-y: auto;
        padding: 8px 13px 0;
    }

    .tools-board .row {
        margin-bottom: 5px;
    }

    .row :is(.title, .name) {
        font-size: 0.9rem;
    }

    .row :not(.actions-toolbar) .option .name {
        display: none;
    }

    .row .options {
        display: flex;
        justify-content: space-between;
    }

    .row .actions-toolbar .options {
        gap: 30px;
        justify-content: start;
    }

    .row .options .option {
        margin-bottom: 5px;
    }

    .row .options {
        margin: 8px 0 0 4px;
    }

    .colors .option {
        height: 18px;
        width: 18px;
    }

    .row .options .option .icon {
        font-size: 1.25rem;
    }

    .option :where(.title, label) {
        display: none;
    }

    .shapes-toolbar .options {
        display: flex;
        justify-content: space-between;
    }

    .tools-toolbar .options {
        display: flex;
        width: 100%;
    }

    .tools-toolbar .option:last-child {
        width: 100%;
        display: block;
    }

    .tools-board .colors-toolbar {
        margin-top: 0;
    }

    .colors .option.selected:before {
        height: 10px;
        width: 10px;
    }

    .joined-toolbars {
        display: flex;
        gap: 20px;
        margin-top: 10px;
        justify-content: space-between;
    }

    .colors-toolbar .option:nth-child(1),
    .colors-toolbar .option:nth-child(3),
    .colors-toolbar .option:nth-child(3) {
        display: none;
    }

    .actions-toolbar .option:is(:hover, .active) :where(span,label) {
        color: greenyellow;
    }

    .actions-toolbar .option .name {
        display: none;
    }

    .buttons {
        display: flex;
        gap: 15px;
        margin-top: 8px;
    }

    .buttons button {
        padding: 9px 0;
    }

    .buttons button .name {
        display: none;
    }

    .drawing-board {
        max-height: calc(var(--doc-height) - 10px);
        height: 100%;
    }

}

@media screen and (max-width: 1023px) and (orientation:portrait) {

    body {
        overflow: hidden;
        align-items: flex-start;
    }

    .container {
        gap: 5px;
        padding: 5px;
        flex-direction: column;
    }

    .tools-board {
        width: 100%;
        order: 2;
        overflow-y: auto;
        max-height: calc(var(--doc-height)/2 - 10px);
        display: block;
        padding: 12px;
    }

    .tools-board .row {
        margin-bottom: 10px;
    }

    .row:not(.actions-toolbar) .option .name{
        display: none;
    }

    .row .options {
        display: flex;
        justify-content: space-between;
    }

    .actions-toolbar .options{
        gap: 30px;
        justify-content: start;
    }

    .row .options .option {
        margin-bottom: 5px;
    }

    .option input[type="checkbox"] {
        height: 17px;
        width: 17px;
    }

    .tools-board .colors-toolbar {
        margin: 0;
    }

    .tools-board .colors .option {
        margin-bottom: 20px;
    }

    .joined-toolbars {
        display: flex;
        gap: 30px;
        margin-top: 15px;
        justify-content: space-between;
    }

    .colors-toolbar .option:nth-child(1) {
        display: none;
    }

    .actions-toolbar .option:is(:hover, .active) :where(span, label) {
        color: greenyellow;
    }

    .buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .drawing-board {
        order: 1;
        max-height: calc(var(--doc-height)/2- 10px);
        height: 100%;
    }

}